* {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.text button {
    background-color: #3882F6;
    border-radius: 3px;
    border: 0;
}
a:visited {
    color: #E5E7E8;
}

a:link {
    color: #E5E7E8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 70px;
}

.body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0px;
    flex-wrap: wrap;
    margin: 70px;
}

.seg1 {
    background-color: #1F2937;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.text {
    color: #E5E7E8;
    line-height: 0;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.seg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 500px;
    gap: 50px;
    text-align: center;
}

.b button {
height: 100px;
width: 100px;
background: white;
border: 10px;
border-color: #3882F6;
outline: 3px solid #3882F6;
border-radius: 10px;
}

.seg3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7E8;
    line-height: 0;
    padding: 30px;
}

.name {
    margin-bottom: 30px;
    margin-left: 500px;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color:#F9FAF8;
}

.head {
    font-size: 36px;
    font-weight: bolder;
}
 
.text2 {
    font-size: 36px;
    font-style: italic;
}





