* {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 3px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.body {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px;
    flex-wrap: wrap;
}

.seg1 {
    background-color: #1F2937;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.text {
    color: #E5E7E8;
    line-height: 0;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.seg2 {
    display: flex;
}
